-- QUERY FOR CREATE TABLE USER

CREATE TABLE user (
  id INT(20) NOT NULL AUTO_INCREMENT,
  name VARCHAR(255) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL,
  email VARCHAR(255) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL,
  password VARCHAR(255) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL,
  created_at TIMESTAMP NULL DEFAULT NULL,
  updated_at TIMESTAMP NULL DEFAULT NULL,
  PRIMARY KEY (id)
);

CREATE TABLE quotes (
    id INT NOT NULL PRIMARY KEY AUTO_INCREMENT,
    quotes TEXT NOT NULL,
    author VARCHAR(255) NOT NULL
);